<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <h1>A wonderful journey awaits you, make the initial step and sign up below!</h1>

    {% if error %}
      <h3>{{ error }}</h3>
    {% endif %}
    <br>
    <form class="" action="{% url 'accounts:signup' %}" method="post">
      {% csrf_token %}
      Username:
      <br>
      <input type="text" name="username" />
      <br>
      Password:
      <br>
      <input type="password" name="password1" />
      <br>
      Confirm Password:
      <br>
      <input type="password" name="password2" />
      <br>
      <button type="submit" name="submit">Sign Up!</button>
    </form>

  </body>
</html>
